@media (min-width: 320px) {
	.wrap__title {
		font-size: 10px;
	}
}

@media (min-width: 481px) {
	.wrap__title {
		font-size: 15px;
	}
}

@media (min-width:641px) {
	.wrap__title {
		font-size: 20px;
	}
}

@media (min-width:961px) {
	.wrap__title {
		font-size: 25px;
	}
}

@media (min-width:1025px) {
	.wrap__title {
		font-size: 30px;
	}
}

@media (min-width:1281px) {
	.wrap__title {
		font-size: 35px;
	}
}